.calculator
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(50px, auto);
}


.display
{
    grid-column: 1 / 5;
    text-align: center;
    background-color: red;
}